#piechart {
  transform: scale(0.8) translateY(-10rem);
  position: "relative";
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  text-decoration: underline;
}

#progress {
  display: flex;
  justify-content: center;
}
